.form {
    margin: 0 auto;
    padding: 20px;
    display: flex;
}

@media(max-width: 767px) {
    .form {
        flex-direction: column;
    }
}

.form__input {
    flex-grow: 1;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

@media(max-width: 767px) {
    .form__input {
        margin: 0 0 10px;
    }
}

.form__button {
    flex-shrink: 0;
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    border: none;
    transition: background-color 0.3s, transform 0.3s;
}

.form__button:hover {
    cursor: pointer;
    background-color: hsl(180, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    outline: 2px solid #000;
}